<input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
   <label for="drawer-toggle" id="drawer-toggle-label"></label>
   <nav id="drawer">
      <ul>

        
        <% if current_page?("/categories/#{params[:category_id]}/transactions/new") == true %>
        
        <li><%= link_to transactions_index_path(params[:category_id]), class: "link_style" do%>
          <button class="optionMenu">Back</button>
        <% end%></li>

        <% end%>


        <% if (current_page?("/categories/new") == true || current_page?("/categories/#{params[:category_id]}/transactions") == true || current_page?("/categories/#{params[:category_id]}/transactions/new") == true)%>

        <li><%= link_to root_path, class: "link_style" do%>
          <button class="optionMenu">Home</button>
        <% end%></li>
        
        <% end%>




        
                  
          <%= form_with url: '/users/sign_out', method: :delete do |f| %>
              </ion-icon><%= f.submit "Log out", class: "optionMenu"%>
          <% end %>
      </ul>
   </nav>