<div class="header_container">
    <div class="back_container">
    <%= link_to root_path, class: "link_style" do%>
       <ion-icon name="arrow-back-outline"></ion-icon>
    <% end%>
    </div>

    <div class="header_title">
    <% if message == "sign_in"%>
    LOGIN
    <% else %>
    REGISTER
    <% end %>

    </div>

    
    <div class="header_action">
    <% if message == "sign_in"%>
    <span id="submitLogIn" onClick="submitLogIn()">
    Log In
    </span>
    <% else %>
    <span onClick="submitSignUp()">
    Next
    </span>
    <% end %>

    </div>


</div>