<div class="header_container">
    <div class="back_container">
        <ion-icon name="menu-outline"></ion-icon>
    </div>

    <div class="header_title">
    <%= title %>
    </div>

    
    <div class="header_action">
     <% if page == "new_category"%>
    <span onClick="submitNewCategory()">
    Add
    </span>
    <% end %>

    </div>


</div>