.sessions_body {
  background-color: #f5f6f8;
}

.sessions_input {
  padding: 11px;
  border: 1px solid lightgray;
  max-width: 600px;
  min-width: 292px;
  width: 80%;
}

.sessions_input:focus {
  outline: none;
}

.sessions_input::placeholder {
  color: lightgray !important;
}

.sessions_input-photo {
  border: 0;
  padding: 11px;
  margin-top: 15px;
  background-color: white;
  cursor:not-allowed;
}

.sessions_input-photo:focus {
  outline: none;
}

.sessions_input-photo::placeholder {
  color: lightgray !important;
}

.forgot_container {
  text-align: center;
  margin: 12px;
  color: gray;
  cursor: pointer;
}

.field {
  display: flex;
  justify-content: center;
}

.photo-field {
  background-color: white;
  max-width: 622px;
  min-width: 314px;
  width: 86%;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
}

.photo-field img {
  margin: 15px 0 0 20px;
  border-radius: 26px;
  border: 1px solid lightgray;
  padding: 8px;
  cursor: pointer;
}

.sessions_select {
  padding: 11px;
  border: 1px solid lightgray;
  max-width: 624px;
  min-width: 316px;
  width: 84%;
}

@media only screen and (max-width: 500px) {
  .category_icon-total {
    font-size: 30px;
    color: #60b524;
    background-color: transparent;
    border: 0px;
    
}

.category_icon-item {
  font-size: 30px;
    color: #2f67a8;
    background-color: transparent;
    border: 0px;
  
}

.total_category_number {
  
  font-size: larger;
}


}

.final_margin {
  margin-top:70px
}