.header_container {
  background: linear-gradient(#3876c0, #2f67a8);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.back_container {
  color: white;
  font-size: 25px;
  margin-left: 10px;
  cursor: pointer;
  margin-top: 5px;
}

.header_title {
  color: white;
  font-family: proxima-nova, sans-serif;
  font-weight: 100;
}

.header_action {
  color: ghostwhite;
  font-family: proxima-nova, sans-serif;
  font-weight: 100;
  font-size: 15px;
  margin-right: 8px;
  cursor: pointer;
}
