<body class="sessions_body">

<%= render "partials/userheader", :title => "NEW CATEGORY", :page => "new_category" %>

  <%= form_with( model: @category, url: categories_post_path, method: :post, local: true, id: "new_category") do |f| %>

  <div class="field">
    <%= f.text_field :name, class: "sessions_input", placeholder: "Category Name" %>
  </div>

 
  <div class="field field-select">
  
        <%= f.select(:icon, options_for_select(@icons)) %>
  </div>


<% end %>

</body>